/*#region Struttura file index */

/* Regola generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Font al body */
body {
  font-family: 'montserratt', sans-serif;
}

main {
  min-height: 100vh;
}

/* Background normale è COLD */
.app {
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

/* Ora background warm */
.app.warm {
  background-image: url('./assets/warm-bg.jpg');
}

/*#endregion  */