/*#region Struttura file index */

/* Regola generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Font al body */
body {
  font-family: 'montserratt', sans-serif;
}

main {
  min-height: 100vh;
  /* Linear Gradient mi da la possibilità di scurire tutta l'app generale
  to bottom => Andando verso il basso
  rgba(0, 0, 0, 0.15) => ombra leggera
  rgba(0, 0, 0, 0.6) => ombra un pò più pesante
  */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(0, 0, 0, 0.6));
  padding: 20px;
}

/* Background normale è COLD */
.app {
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

/* Ora background warm */
.app.warm {
  background-image: url('./assets/warm-bg.jpg');
}

/*#endregion  */

/*#region Search-box e Search-bar */

.search-box {
  width: 100%;
  margin: 0 0 70px;
}

:root {
  --none: none
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  /* Aspetto della searchbar */
  appearance: var(--none);
  background: var(--none);
  border: var(--none);
  outline: var(--none);
  /* Aspetto e bg-color dell'App */
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  /* Color del testo e font */
  color: #333333;
  font-size: 16px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

/*#endregion */

/*#region Location & Temperature */

/* Nome della location */
.location-box .location {
  /* Tutto lo stile dedicato ai colori della zona */
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  /* Ombra dedicata al titolo della localizzazione */
  text-shadow: 3px 3px rgba(50, 50, 50, 0.2);
}

/* Stile Data, ora ecc */
.location-box .date {
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
    text-shadow: 2px 2px rgba(50, 50, 50, 0.2);
}

/*#endregion */

/*#region Wheater */
.weather-box {
  text-align: center;
}

.weather-box .temperature {
  /* Position */
  position: relative;
  display: inline-block;
  margin: 20px auto;
  padding: 15px 25px;
  text-align: center;
  /* Stile, colore */
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  color: white;
  font-size: 90px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 50, 0.5);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: white;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 50, 0.5);
}



/*#endregion */